<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- Personalizzare il server senza inserire credenziali nel repository. -->
    <add name="DipendentiDB" connectionString="Data Source=(local);Initial Catalog=DipendentiDB;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="anni_scad_CNS" value="3" />
    <add key="anni_scad_PASS_SVZ" value="6" />
    <add key="UffLiv1_empty" value="22" />
    <add key="UffLiv2_empty" value="119" />
    <add key="UffLiv3_empty" value="195" />
    <add key="myFileServerPath" value="\\daa-fs2\VM-esportate\test\" />
    <add key="PhotoFileServerPath" value="~/img/foto/" />
    <add key="logfilepath" value="C:\temp\" />
    <add key="livelloDir" value="Dir" />
    <add key="URLOrgChart" value="http://10.26.194.146:88/#/?employee=" />
    <add key="URLOrganizationChart" value="http://10.26.194.146:88" />
    <add key="BaseUrlMilitare" value="amministrazione/users/editUsersmif.aspx" />
    <add key="BaseUrlCivile" value="amministrazione/users/editUserscif.aspx" />
    <add key="BaseUrlCivileExt" value="amministrazione/users/editUsersCExtIF.aspx" />
    <add key="sLDAP" value="LDAP://OU=Armaereo Utenti,OU=ARMAEREO Direzione Generale,OU=DDTT,OU=SEGREDIFESA,DC=sgd,DC=difesa,DC=dom" />
    <add key="Civ_uomo" value="~/img/foto/uomo.jpg" />
    <add key="Civ_donna" value="~/img/foto/donna.jpg" />
    <add key="Mil_uomo" value="~/img/foto/militare.jpg" />
    <add key="Mil_donna" value="~/img/foto/militare.jpg" />
    <add key="Spec_AM_CatU" value="85" />
    <add key="Spec_AM_CatS" value="87" />
    <add key="Spec_AM_CatT" value="88" />
    <add key="Spec_EI_CatU" value="89" />
    <add key="Spec_EI_CatS" value="90" />
    <add key="Spec_EI_CatT" value="91" />
    <add key="Spec_MM_CatU" value="92" />
    <add key="Spec_MM_CatS" value="93" />
    <add key="Spec_MM_CatT" value="94" />
    <add key="Spec_CC_CatU" value="95" />
    <add key="Spec_CC_CatS" value="97" />
    <add key="Spec_CC_CatT" value="98" />
    <add key="Ruolo_AM_CatU" value="30" />
    <add key="Ruolo_AM_CatS" value="31" />
    <add key="Ruolo_AM_CatT" value="32" />
    <add key="Ruolo_EI_CatU" value="33" />
    <add key="Ruolo_EI_CatS" value="34" />
    <add key="Ruolo_EI_CatT" value="35" />
    <add key="Ruolo_MM_CatU" value="36" />
    <add key="Ruolo_MM_CatS" value="37" />
    <add key="Ruolo_MM_CatT" value="38" />
    <add key="Ruolo_CC_CatU" value="39" />
    <add key="Ruolo_CC_CatS" value="40" />
    <add key="Ruolo_CC_CatT" value="41" />
    <add key="Categoria_AM_CatU" value="75" />
    <add key="Categoria_AM_CatS" value="76" />
    <add key="Categoria_AM_CatT" value="78" />
    <add key="Categoria_EI_CatU" value="79" />
    <add key="Categoria_EI_CatS" value="80" />
    <add key="Categoria_EI_CatT" value="81" />
    <add key="Categoria_MM_CatU" value="82" />
    <add key="Categoria_MM_CatS" value="83" />
    <add key="Categoria_MM_CatT" value="84" />
    <add key="Categoria_CC_CatU" value="85" />
    <add key="Categoria_CC_CatS" value="86" />
    <add key="Categoria_CC_CatT" value="87" />
  </appSettings>
  <location path="Account/AccessoNegato.aspx">
    <system.web><authorization><allow users="*" /></authorization></system.web>
  </location>
  <system.web>
    <compilation debug="true" targetFramework="4.6">
      <assemblies>
        <add assembly="System.IO.Compression, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.IO.Compression.FileSystem, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="it-IT" uiCulture="it-IT" />
    <authentication mode="Windows" />
    <authorization><deny users="?" /></authorization>
  </system.web>
  <system.webServer>
    <defaultDocument><files><clear /><add value="Default.aspx" /></files></defaultDocument>
  </system.webServer>
</configuration>
